/* ------- ATTRIBUTS ------- */

nav{
  background-image:url(../pictures/witchhome.jpg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: auto;
}

/* ------- CLASSES ------- */

.navbar-inverse .navbar-nav>li{
    color: rgba(254,240,53,1);
}

.navbar-inverse .navbar-nav>li:hover{
    background-color: rgba(254,240,53,1);
    color: black;
}

.input-group{
    padding-top: 1em;
}

.navbar-nav>li{
    padding: 1.5em;
}

.radio-description {
    color: black;
    font-size: 15pt;
    font-weight: bold;
}

.username {
    font-size: 22pt;
    margin-left: 50px;
}

.task-name {
    background-color: white;
}

/* ------- ID ------- */

#logo{
    margin-top: 5px;
    height: 4em;
}

